.btn
	@extend .h--uppercase
	@extend .h--animate
	color #fff
	border-radius 20px
	min-width 207px
	color #fff
	font-size 14px
	padding 14px 0
	&:hover
		@extend .h--animate
	&--base-color-1
		@extend .btn
		@extend .h--uppercase
		@extend .h--animate
		background base-color-1
		&:hover
			background darken(base-color-1 ,15%)
	&--base-color-2
		@extend .btn
		@extend .h--uppercase
		@extend .h--animate
		background base-color-2
		&:hover
			background darken(base-color-2 ,15%)
		