.nav
	&--main
		ul
			@extend .h--txt-right
			li
				@extend .h--inlineBlock
				@extend .h--txt-middle
				margin-right 38px
				&:last-child
					margin-right 0
					a
						border 0
				a
					@extend .h--uppercase
					@extend .h--animate
					color base-color-1
					font-size 16px
					font-weight 500
					padding-bottom 4px
					border-bottom 3px solid transparent
					&:hover
						@extend .h--animate
						border-color base-color-1
	&--filter
		padding 33px 0
		border-bottom 1px solid color-gray-5
		margin-bottom 5px
		ul
			@extend .h--inlineBlock
			margin-right 65px
			&:last-child
				margin-right 0
			li
				@extend .h--inlineBlock
				@extend .h--uppercase
				font-size 16px
				color color-gray-1
				margin-right 35px
				&:first-child
					font-weight 500
					color #000
				&:last-child
					margin-right 0
				input[type="checkbox"]
					margin-right 8px