.product-list
	&__item
		@extend .h--animate
		background #fff
		margin-right 10px
		padding 16px 28px
		box-shadow 0px 0px 6px -3px
		&:last-child
			margin 0
			@media (max-width: screen-md-max)
				display none
		&:hover
			@extend .h--animate
			box-shadow 0px 16px 185px -54px
		header
			@extend .h--uppercase
			position relative
			left -10px
			font-size 12px
			font-weight 600
			color color-gray-5
			a
				@extend .h--animate
				color inherit
				&:hover
					@extend .h--animate
					color darken(color-gray-5, 20%)
		header + img
			max-width 100%
			width 100%
			height auto
			margin-top 22px
		hgroup
			@extend .h--txt-center
			h1
				font-size 16px
				color color-gray-1
				font-weight 400
				margin 4px 0 9px
			h2
				font-size 18px
				font-weight 400
				color #000
				margin 0 0 12px
		footer
			@extend .h--txt-center
			button
				padding 8px 0
				ul
					li
						@extend .h--inlineBlock
						@extend .h--txt-middle
						margin-right 15px
						&:last-child
							margin-right 0
						svg,
						img
							width 30px