.title
	&--banner
		h1,
		p
			color base-color-1
		p,
		button
			margin-left 10px
		h1
			@extend .h--uppercase
			font-size 60px
			line-height 43px
			margin-bottom 22px
		p
			line-height 28px
			margin-bottom 25px
	&--section
		@extend .h--txt-center
		h1,
		p
			color #fff
		h1
			@extend .h--inlineBlock
			@extend .h--uppercase
			font-size 25px
			font-weight 400
			margin 0 0 25px
			line-height 18px
			span
				@extend .h--block
				margin 0 auto
				height 9px
				width 101px
				margin-top 25px
				background base-color-3
		p
			@extend .h--txt-justify
			line-height 28px
			font-size 20px
		&__text
			margin 0 auto
	&--simple
		@extend .h--txt-center
		h1
			@extend .h--uppercase
			font-size 20px
			font-weight 400
			color color-gray-1
			margin 85px 0 44px