<section class="about">
	<div class="title--section">
		<h1>
			About us
			<span></span>
		</h1>
		<div class="col-md-9 col-lg-9 title--section__text">
			<p>
				There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything <span class="h--hidden-lg">embarrassing hidden in the middle of text.</span>
				<span class="h--txt-center h--block h--hidden-md h--hidden-sm h--hidden-xs">embarrassing hidden in the middle of text.</span> 
			</p>
		</div>
	</div>
</section>