<section class="products">
	<div class="container">
		<nav-filter></nav-filter>
		<div class="title--simple">
			<h1>New armchair</h1>
		</div>
		<div class="product-list row">
			<product-list ng-repeat="product in products" name="{{product.name}}" value="{{product.value}}" image="{{product.image}}"></product-list>
		</div>
		<div class="title--simple">
			<h1>Best of 2016</h1>
		</div>
		<div class="product-list row">
			<product-list ng-repeat="product in products" name="{{product.name}}" value="{{product.value}}" image="{{product.image}}"></product-list>
		</div>
	</div>
</section>