*
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

body
	font-family base-fontFamily-1
	font-size 19px
	color color-gray-1

ul
	margin 0
	padding 0
	li
		list-style none

a
	text-decoration none

button
	border 0
	padding 0
	cursor pointer
	font-weight 600

a,
button
	&:active,
	&:focus
		outline 0
		border 0
	
h1,
h2,
h3,
h4,
h5,
h6
	font-weight 500
	
h1
	margin-top 0


input[type="checkbox"],
input[type="checkbox"]:checked
	@extend .h--animate
	-webkit-appearance none
	-moz-appearance none
	appearance none
	width 21px
	height 21px
	&:focus
		outline 0
		box-shadow none
		
input[type="checkbox"]
	@extend .h--ionicons
	@extend .h--block
	background #fff
	border 3px solid color-gray-3
	border-radius 5px
	color #fff
	cursor pointer
	&:before
		@extend .h--animate
		content "\f122"
		font-size 12px
		position relative
		top calc(50% - 9px)
		left calc(50% - 4.5px)
		
	&:checked
		background lighten(base-color-1, 20%)
		border-color lighten(base-color-1, 20%)
			