.h
	&--block
		display block
	&--inlineBlock
		display inline-block
	&--txt-middle
		vertical-align middle
	&--txt-justify
		text-align justify
	&--txt-center
		text-align center
	&--txt-left
		text-align left
	&--txt-right
		text-align right
	&--uppercase
		text-transform uppercase
	&--animate
		transition 0.3s
	&--ionicons
		display inline-block
		font-family "Ionicons"
		speak none
		font-style normal
		font-weight normal
		font-variant normal
		text-transform none
		text-rendering auto
		line-height 1
	&--flex
		flex 1
	&--hidden-xs
		@media (max-width: screen-xs-max)
			display none	
	&--hidden-sm
		@media (min-width: screen-sm-min) and (max-width: screen-sm-max)
			display none	
	&--hidden-md
		@media (min-width: screen-md-min) and (max-width: screen-md-max)
			display none	
	&--hidden-lg
		@media (min-width: screen-lg-min)
			display none	