@media (max-width: screen-xs-max)
	.container
		width 100%

@media (min-width: screen-sm-min) and (max-width: screen-sm-max)
	.container
		width 750px

@media (min-width: screen-md-min) and (max-width: screen-md-max)
	.container
		width 970px
		
@media (min-width: screen-lg-min)
	.container
		width 1170px