.header
	padding-top 32px
	background url('../img/banner.jpg') no-repeat top center fixed
	background-size cover
	height 100vh
	.title--banner
		margin-top 20%
		margin-left 20px
	
.products
	background color-gray-4
	padding-bottom 166px

.about	
	background base-color-1 url('../img/about.png') no-repeat center bottom
	height 462px
	padding-top 92px
	.title--section
		color #fff

.footer
	font-size 16px
	padding 55px 0
	background color-gray-2
	ul
		@extend .h--txt-center
		li
			@extend .h--txt-middle
			@extend .h--inlineBlock
			margin-right 19px
			&:last-child
				margin-right 0