<section class="header" ng-style="windowH" data-ng-controller="MainCtrl" >
	<div class="container">
		<header class="bar row middle-sm middle-md middle-lg fadeInDown animated">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<a href="#">
					<icon-logo class="icon--logo" color="#ffffff"></icon-logo>
				</a>
			</div>
			<nav class="nav--main col-sm-6 col-md-6 col-lg-6">
				<ul>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">Products</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
					<li>
						<a href="#">
							<icon-cart class="icon--cart" color="#542d4c"></icon-cart>
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="banner row">
		    <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
		        <div class="title--banner">
		        	<h1>Collection 2016</h1>
		        	<p>Some cool text here about the new collection of<br/>design furniture 2016</p>
		        	<a href="#">
		        		<button class="btn--base-color-1 animated fadeInUp">Buy now</button>
		        	</a>
		        </div>
		    </div>
		</div>
	</div>
</section>