<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 68.3 68.3" enable-background="new 0 0 68.3 68.3" xml:space="preserve">
<g>
	<defs>
		<rect y="0" width="68.3" height="68.3"/>
	</defs>
	<clipPath>
		<use overflow="visible"/>
	</clipPath>
	
		<circle fill="none" stroke="{{color}}" stroke-width="18" stroke-miterlimit="10" cx="34.2" cy="34.2" r="25.2"/>
</g>
</svg>