<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 34.4 28.3" enable-background="new 0 0 34.4 28.3" xml:space="preserve">
<g>
	<defs>
		<rect y="0" width="34.4" height="28.3"/>
	</defs>
	<clipPath>
		<use overflow="visible"/>
	</clipPath>
	
		<polygon fill="none" stroke="{{color}}" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10" points="
		29.6,19.4 9,19.4 7,7.2 33.7,7.2 	"/>
	
		<polyline fill="none" stroke="{{color}}" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10" points="
		14.1,24.3 9.9,24.3 5.9,0.8 0,0.8 	"/>
</g>
<line fill="none" stroke="{{color}}" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10" x1="22.9" y1="24.3" x2="18.9" y2="24.3"/>
<line fill="none" stroke="{{color}}" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10" x1="31.2" y1="24.3" x2="27.4" y2="24.3"/>
<g>
	<defs>
		<rect y="0" width="34.4" height="28.3"/>
	</defs>
	<clipPath>
		<use overflow="visible"/>
	</clipPath>
	
		<circle fill="none" stroke="{{color}}" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10" cx="16.2" cy="25.1" r="2.5"/>
	
		<circle fill="none" stroke="{{color}}" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10" cx="25.3" cy="25.1" r="2.5"/>
</g>
</svg>
