<nav class="nav--filter row middle-xs">
	<div class="h--flex">
		<form name="filter">
			<ul>
				<li>Type:</li>
				<li>
					<input type="checkbox" name="filter" value="Armchairs" checked>
					Armchairs
				</li>
				<li>
					<input type="checkbox" name="filter" value="Chairs">
					Chairs
				</li>
			</ul>
			<ul>
				<li>Material:</li>
				<li>
					<input type="checkbox" name="filter" value="Wood">
					Wood
				</li>
				<li>
					<input type="checkbox" name="filter" value="Foam">
					Foam
				</li>
			</ul>
		</form>
	</div>
	<a href="#">
		<button class="btn--base-color-2">See all products</button>
	</a>
</nav>