<div class="h--flex product-list__item">
	<header>
		<a href="#">Armchair</a> / <a href="#">Wood</a>
	</header>
	<img src="{{image}}" alt="Cadeira">
	<hgroup class="product-list__item__description">
		<h1>{{name}}</h1>
		<h2>{{value|currency}}</h2>
	</hgroup>
	<footer>
		<a href="#">
			<button class="btn--base-color-2">
				<ul>
					<li>
						<icon-cart color="#ffffff"></icon-cart>
					</li>
					<li>Buy now</li>
				</ul>
			</button>
		</a>
	</footer>
</div>